name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD/src" >> $GITHUB_ENV

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Ruff lint check
        run: poetry run ruff check .

      - name: Black formatting check
        run: poetry run black --check .

      - name: Bandit security scan
        run: poetry run bandit -c .bandit -r src -ll

      - name: Run tests with coverage
        run: poetry run pytest -v --cov=src --cov-fail-under=80
